* {
	margin : 0;
	
}




.imgclass {
	width: 10vw;
	height: auto;
	margin-left:50px;
	
}

.menubutton {
	border: none;
	background-color: #1A1A1A;
	border-radius: 10px;
	padding: 15px;
	width : 100px;
	border-color : #1A1A1A;
	margin-left: 15px;
	text-align: center;
	color : white;
	font-weight: bold;
	font-size: 15px;
	transition-duration: 0.4s ;
	font-family: sans-serif;
}

.menubutton:hover {
	background-color :#333333;
	cursor:pointer
}



.navbar {
	display : flex;
	align-items: center;
	justify-content: space-between;
	background-color: #1A1A1A;
	width: auto;
	padding-right: 50px;
	max-height: 200px;
	
}

body {
	
	background: #030300; 
	
}

.intro {
	display : inline-flex;
	margin-top : 50px;
	margin-left: 10%;
	justify-content: space-between;
	zoom:1;
	width:100%;
}

.introheader {
	color : white;
	font-family: Arial;
	font-weight: bold;
	font-size: 46px;
	margin-top: 100px;
	text-align:center;
}

.posters {
	display : flex ;
	width: auto;
	height : 480px;
	

}

.media {
	display: inline-flex;
	width : 100%;
}

.info {
	border:none;
	border-radius: 15px;
	color : white;
	font-family: Arial;
	font-weight: normal;
	font-size: 30px;
	margin-left: 2%;
	width: 10%;
	height : auto;
	background-color: #1A1A1A;
	text-align: center;
	
}

/* Search */
.search {
	
    --padding: 10px;
    width:max-content;
    display: flex;
    align-items: center;
    padding: var(--padding);
    border-radius: 28px;
    background-color: #f6f6f6;
    transition: box-shadow 0.25s;
	margin : 10px;
}

.search:focus-within{
    box-shadow: 0 0 2px rgba(0,0,0,0.75);
}

.search-input{
    font-size: 16px;
    font-family: 'Lexend',sans-serif;
    color: #333333;
    margin-left: var(--padding);
    outline: none;
    border: none;
    background: transparent;
    width: 400px;
}

.search-input:placeholder 
.search-icon{
    color: rgba(0,0,0,0.25);
}